// @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
// @import url(https://fonts.googleapis.com/css?family=Maven+Pro);

$bodyBg: #3a3042;
$underLine:#FFAE1E;

// body {
//   background: $bodyBg;
// //   font-family: 'Maven Pro', sans-serif;
//   margin: 0;
// }

// svg {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   top: 0;
// }

// h1 {
//   color: #fff;
//   text-align: center;
//   text-transform: uppercase;
//   font-family: 'Josefin Slab', serif;
//   font-size: 66px;
//   margin-top: 10vh;
//   letter-spacing: 10px;
// }

.accordion-container {
  width: 100%;
  min-width: 100%;
  margin: 100px 0 0 0;
//   border-radius: 5px;
  background-color: #fff;
//   box-shadow:-2px 1px 2px 2px #212121;
  
  div {
    border-bottom: 2px solid;
    border-color: $underLine;
    cursor: pointer;
    width:100%;
    float:left;
    background:white;
    // transition: border-color 0.5s ease-in;
  }
}

.answer, .summary {
  display: inline-block;
}

.answer {
  background: $bodyBg;
  color: #fff;
}

.summary {
//   font-family: 'Josefin Slab', serif;
//   text-transform: uppercase;
  cursor: pointer;
  line-height: 25px;
  padding: 15px;
  &:before {
    content: '>\0000a0';
  } 
}

.folding-pannel {
  display: block;
  transition: all 0.2s ease-in;
  line-height: 40px;
//   border-top: 2px solid $bodyBg;
}

.active .summary {
  border-color: transparent;
  transition: border-color 0.2s ease-out;
  cursor: pointer;
}

.inactive .folding-pannel {
  transform-origin: 50% 0%;
//   transform: perspective(250px) rotateX(-90deg);
  transition: all 0.2s ease-in-out;
  height: 0;
  display: none;
  cursor: pointer;

}
.active .folding-pannel {
//   transform: perspective(350px) rotateX(0deg);
  transition: all 0.2s ease-in-out;
  height: 50px;
  line-height: 50px;
  text-indent: 35px;
}
