Nav {
    div{
        background: #FFAE1E;
        width: 200px;
        float: left;
        position: fixed;
        height: 100vh;
        left:0;
        top:0;
            a{
                width: 100%;
                float: left;
                padding: 20px;
                color:white;
                text-decoration: none;
                border-bottom: dashed 1px white;
                cursor: pointer;
                &:hover{
                    background: black;
                }
            }
    }
}